@import 'styles/breakpoints';
@import 'styles/tokens';

.component {
	padding-bottom: var(--wpe--section--padding-y);
}

.heading {
	width: 100%;
	margin: 0 0 2.5rem;
	line-height: 0.95;
	font-size: clamp(2.5rem, 9vw, 6rem);
}

.columns {
	display: grid;
	gap: 2.5rem;

	@media (min-width: $breakpoint-small) {
		grid-template-columns: 1.2fr 1fr;
		gap: 4rem;
	}
}

.stageHeading {
	font-size: fs(lg);
	margin: 0 0 0.75rem;
}

.amenities {
	font-size: fs(sm);
	opacity: 0.75;
}

.description {
	font-size: fs(md);
	opacity: 0.9;
}
