// Base styles

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');

@font-face {
	font-family: 'StretchPro';
	src:
		url('/fonts/stretch-pro.regular.ttf') format('truetype'),
		url('/fonts/StretchPro.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--wpe--main--background-color);
	color: var(--wpe--main--color);
	font-family: var(--wpe--font-family--body);
	font-weight: var(--wpe--font-weight--medium);
	font-size: fs(base);
	line-height: var(--wpe--line-height--body);
}

html.lenis,
html.lenis body {
	height: auto;
}

html.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

html.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

html.lenis.lenis-stopped {
	overflow: hidden;
}

html.lenis.lenis-smooth iframe {
	pointer-events: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	background-color: var(--wpe--code--background-color);
	color: var(--wpe--code--color);
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	white-space: nowrap;
	margin: 0 0 1rem;
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--wpe--heading--color);
	font-family: var(--wpe--font-family--display);
	text-transform: uppercase;
}

a {
	color: var(--wpe--link--color);
}
